/*-------------------------------------
| index.php CSS
-------------------------------------*/
a {font-family: 'Cuprum', sans-serif;}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
}

.parallax1 {
    background-image: url('../img/jpg/BG_1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.homeParallax {
    background-image: url('../img/jpg/cmh_performing.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.newsParallax {
    background-image: url('../img/jpg/cmh_performing.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.gOverlay {
    position: relative;
}

.gOverlay:after {
    position: absolute;
    content:'';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #31680d;
    opacity: .3;
}

.navbar-inverse {
    margin-bottom: 0px;
    background-color: #fff;
    border: none;
    padding-bottom: 30px;
}

.navbar-brand img {
    width: 50px;
}

.navbar-nav {
    margin-bottom: 0px;
}

.navbar-inverse .navbar-toggle {
    border: none;
    background-color: rgba(176, 0, 178, 0);
    top: 18px;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: rgba(176, 0, 178, .1);
}

.navbar-inverse .navbar-toggle:focus {
    background-color: rgba(176, 0, 178, .1);
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #b000b2;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
    margin-top: 20px;
}

#myNavbar ul li {
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}

#myNavbar ul li.active a{
    background-color: #b000b2;
    color: #fff;
}

#myNavbar ul li a {
    color: #b000b2;
    background-color: #fff;
    transition: .3s;
    font-size: 18px;

}

#myNavbar ul li a:hover {
    color: #fff;
    background-color: #b000b2;
}

@media only screen and (min-width: 768px) {

    .navbar-inverse {
        margin-bottom: 0px;
        background-color: #fff;
        border: none;
        height: 130px;
    }

    .navbar-brand img {
        width: 100px;
    }

    #myNavbar .navbar-right {
        margin-top: 40px;
    }

    #myNavbar ul li.active a{
        background-color: #fff!important;
        color: #b000b2!important;
    }

    #myNavbar ul li.active a:before{
        content: '';
        position: absolute;
        left: 0px;
        top: 45px;
        width: 100%;
        height: 100%;
        background-color: #b000b2;
        transition: .3s;
    }

    #myNavbar ul li a {
        color: #b000b2;
        background-color: #fff;
        transition: .3s;
    }

    #myNavbar ul li a:hover {
        color: #b000b2!important;
        background-color: #fff!important;
    }

    #myNavbar ul li a:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 90px;
        width: 100%;
        height: 100%;
        background-color: #b000b2;
        transition: .3s;
    }

    #myNavbar ul li a:hover:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 45px;
        width: 100%;
        height: 100%;
        background-color: #b000b2;
        transition: .3s;
    }
}

.homeParallax .parallaxText, .newsParallax .parallaxText, .contactParallax .parallaxText, .storeParallax .parallaxText {
    text-align: center;
    width: 300px;
    height: 200px;
    text-shadow: 0px 1px 2px #000;

    position: absolute;
    left: 0px; right: 0px;
    top: 0px; bottom: 0px;
    margin: auto;
    z-index: 2;
}

.parallaxText {
    visibility: hidden;
}

.parallaxText h1{
    color: #fff;
    font-family: 'Coda Caption', sans-serif;
}

.parallaxText h4{
    color: #fff;
    font-family: 'Cuprum', sans-serif;
}
.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
        opacity: 0;
	}
	100% {
		transform: translateX(0%);
        opacity: 1;
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
        opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0%);
        opacity: 1;
	}
}

.animateUp {
    visibility: hidden;
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 3s;
	-webkit-animation-duration: 3s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(150%);
        opacity: 0;
	}
	65%{
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%);
        opacity: 1;
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(150%);
        opacity: 0;
	}
	65%{
		-webkit-transform: translateY(3%);
	}
	100% {
		-webkit-transform: translateY(0%);
        opacity: 1;
	}
}



.divTitle {
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

.divTitle h3 {
text-align: center;
color: #31680d;
margin-left: 25px;
margin-right: 25px;
padding-top: 30px;
visibility: hidden;
font-family: 'Coda Caption', sans-serif;
}

.divTitle h3.wHeader {
    text-align: center;
    color: #fff;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 75px;
}

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;

	animation-duration: 1.1s;
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;

    visibility: visible!important;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: .25;
	}
	50% {
		opacity: .5;
	}
	75% {
		opacity: .75;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
    0% {
		opacity: 0;
	}
	25% {
		opacity: .25;
	}
	50% {
		opacity: .5;
	}
	75% {
		opacity: .75;
	}
	100% {
		opacity: 1;
	}
}

#news {
    position: relative;
    height: 650px;
    z-index: 2;
}

.wSkew , .wSkew2 {
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    content: '';
    height: 100%;
    width:100%;
    background-image: linear-gradient(#fff, #fff);
    transform: skewY(-6deg);
    transform-origin: top left;
}

.wSkew2 {
    z-index: 1;
}

.wSkew {
    box-shadow: 0px -8px 15px rgba(0,0,0,.5);
}

.wSkew2 {
    box-shadow: 0px -10px 15px rgba(0,0,0,.5);
}

#newsCarousel {
    height: 500px;
}

#newsCarousel a.left.carousel-control {
    background-image: none;
}

#newsCarousel a.right.carousel-control {
    background-image: none;
}

#newsCarousel a.left.carousel-control .glyphicon, #newsCarousel a.right.carousel-control .glyphicon{
    color: #b000b2;
}

#newsCarousel .carousel-caption {
    text-shadow: none;
}

#newsCarousel .carousel-caption img {
    width: 200px;
    height: 200px;
}

#newsCarousel .carousel-caption p {
    color: #000;
}

#newsCarousel .carousel-indicators li {
    border-color: #b000b2;
}

#newsCarousel .carousel-indicators li.active {
    background-color: #b000b2;
}

#newsCarousel .carousel-inner .carousel-caption p {
    font-size: 18px;
    padding-top: 8px;
    margin-left: 60px;
    margin-right: 60px;
}

#newsCarousel .carousel-inner .carousel-caption a {
    color: #fff;
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    display:inline-block;
}

#newsCarousel .carousel-inner .carousel-caption h4 {
    color: #31680d;
    padding-top: 10px;
}

#store {
    position: relative;
    height: 1600px;
    padding-left: 10px;
    padding-right: 10px;
}

.gSkew {
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    content: '';
    height: 100%;
    width:100%;
    background-image: linear-gradient(#31680d, #31680d);
    transform: skewY(6deg);
    transform-origin: top left;
    z-index: 1;
    overflow: hidden;
}

.gSkew:before {
    content: '';
    width: 100%;
    height: 300px;
    background-color: #999;
    position: absolute;
    top: -300px;
    box-shadow: 0px 5px 15px rgba(0,0,0,.8);
}

.gSkew2 {
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    content: '';
    height: 100%;
    width:100%;
    background-image: linear-gradient(#31680d, #31680d);
    transform: skewY(6deg);
    transform-origin: top left;
    z-index: 1;
    overflow: hidden;
}

.gSkew2:before {
    content: '';
    width: 100%;
    height: 300px;
    background-color: #999;
    position: absolute;
    top: -300px;
    left: 0px;
    box-shadow: 0px 5px 15px rgba(0,0,0,.8);
}

#store .items {
    position: relative;
    z-index: 2;
}

#store  p {
    color: #fff;
    text-align: center;
}

#store .divTitle p {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

#store .mainItem {
    display: flex;
}

#store .mainItem img {
    width: 190px;
    height: 190px;
    padding: 10px;
}

#store .mainItem .itemImg {
    flex: 1;
}

#store .mainItem .itemDesc {
    flex: 1;
    text-align: center;
    padding: 5px;
}

#store a {
    background-color: #b000b2;
    color: #fff;
    padding: 10px 35px;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    display:inline-block;
}

#store .mainItem a.button {
    padding-left: 30px;
    padding-right: 30px;
}

#store .mainItem .itemDesc #productName {
    font-size: 24px;
}

#store .subItemDiv {
    margin-top: 20px;
}

#store .subItemDiv .itemRow{
    display: flex;
}

#store .subItemDiv .subItems {
    flex: 2;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

#store .subItemDiv .subItems .itemImg img{
    width: 100%;
}

#store .subItemDiv .subItems .itemDesc {
    padding-top: 10px;
}

#store .subItemDiv .subItems .itemDesc #productName {
    font-size: 24px;
}

@media only screen and (min-width: 768px) {
    #store {
        height: 1000px;
    }

    #store .subItemDiv {
        display: flex;
    }
}

@media only screen and (min-width: 575px) {
    #store {
        height: 1350px;
    }
}

@media only screen and (min-width: 650px) {
    #store {
        height: 1400px;
    }

    #store .mainItem {
        display: flex;
        width: 600px;
        margin: 0px auto;
    }

    #store .mainItem img {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    #store {
        height: 950px;
    }
}

#music {
    position: relative;
    height: 400px;
    text-align: center;
}

#music .musicDiv {
    position: relative;
    z-index: 1;
}

#music .divTitle p {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

a.button {
    background: #b000b2;
    box-shadow: 0 0 0 rgba(176, 0, 178, .6);
    animation: none;

    color: #fff;
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    display:inline-block;
}

a.button:hover {
    animation: pulse 1s infinite;
}

button.button {
    background: #b000b2;
    box-shadow: 0 0 0 rgba(176, 0, 178, .6);
    animation: none;

    color: #fff;
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    display:inline-block;
}

button.button:hover {
    animation: pulse 1s infinite;
    color: #fff;
}

button.button:focus {
    animation: pulse 1s infinite;
    color: #fff;
}

@-webkit-keyframes pulse {
    0% {-webkit-box-shadow: 0 0 0 0 rgba(176, 0, 178, .6);}
    70% {-webkit-box-shadow: 0 0 0 13px rgba(176, 0, 178, 0);}
    100% {-webkit-box-shadow: 0 0 0 0 rgba(176, 0, 178, 0);}
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(176, 0, 178, .6);
        box-shadow: 0 0 0 0 rgba(176, 0, 178, .6);
    }
    70% {
        -moz-box-shadow: 0 0 0 13px rgba(176, 0, 178, 0);
        box-shadow: 0 0 0 13px rgba(176, 0, 178, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(176, 0, 178, 0);
        box-shadow: 0 0 0 0 rgba(176, 0, 178, 0);
    }
}

#music a.button {
    color: #fff;
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    display:inline-block;
}

#video {
    position: relative;
    text-align: center;
}

#video .divTitle {
    text-align: center;
    color: #fff;
}

#video #videoCarousel {
    position: relative;
    z-index: 2;
    height: 500px;
}

#video a.button{
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 80px;
    display:inline-block;
}

#videoCarousel a.left.carousel-control {
    background-image: none;
}

#videoCarousel a.right.carousel-control {
    background-image: none;
}

#video .divTitle p {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

#images {
    position: relative;
    text-align: center;
}

#images .imgDiv {
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 15px rgba(0,0,0,.5);
}

#images .divTitle {
    text-align: center;
}

#images .divTitle h3 {
    padding-top: 30px;
}

#images .divTitle p {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

#images a.button {
    color: #fff;
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 80px;
    display:inline-block;
}

.instaImg img{
    margin-bottom: 30px;
    transition: .5s;
    width: 100%;
    position: relative;
}

.instaImg img:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
}


/*-------------------------------------
| news.php CSS
-------------------------------------*/
.newsParallax {
    background-image: url('../img/jpg/cmh_working.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.parallax3 {
    background-image: url('../img/jpg/BG_1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    transform: skewY(6deg);
    transform-origin: top left;
}

#stories {
    position: relative;
    height: 1835px;
    padding-top: 6em;
    margin-bottom: 8em;
}

.eventDiv h3 {
    font-family: 'Coda Caption', sans-serif;
}

@media only screen and (min-width: 670px) {
    #events .events .eventDiv {
        width: 600px;
        display: block;
        margin: 0px auto;
    }
}

@media only screen and (min-width: 675px) {
    #stories {
        height: 1870px;
    }
}

@media only screen and (min-width: 768px) {
    #stories {
        height: 1250px;
    }
}

@media only screen and (min-width: 991px) {
    #stories {
        height: 1300px!important;
    }

    #stories .storyImg img {
        width: 70%!important;
        display: block;
        margin: 0px auto;
    }
}

@media only screen and (min-width: 1200px) {
    #stories {
        height: 1550px;
    }
}

#stories .mainStory {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 1;
    padding-top: 40px;
}

#stories .mainStory h3 {
    color: #31680d;
    margin-top: 0px;
}

#stories .mainStory .storyImg img {
    width: 100%;
}

#stories .mainStory .storyDesc {
    padding-top: 20px;
}

#stories .subStoryDiv {
    padding-top: 30px;
    position: relative;
    z-index: 1;
}

#stories .subStory {
    margin-bottom: 30px;
}

#stories .subStory .storyImg {
    flex: 1;
}

#stories .subStory .storyImg img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#stories .subStory .storyDesc {
    flex: 1;
    text-align: center;
    padding-top: 20px;
}

@media only screen and (min-width: 768px) {
    #stories .subStoryDiv {
        /*display: flex;*/
    }

    #stories .subStory {
        display: block!important;
    }

    #stories .subStory .storyDesc {
        text-align: center;
    }

    #stories .subStory .storyDesc a.button {
        padding: 10px 20px!important;
    }
}

@media only screen and (min-width: 991px) {
    #stories .subStory .storyDesc a.button {
        padding: 10px 40px!important;
    }
}

#stories .subStory .storyDesc h4{
    color: #31680d;
}

#stories .subStory .storyDesc a.button {
    padding: 10px 30px;
}

#events {
    position: relative;
    padding-bottom: 40px;
}

#events .events {
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    position: relative;
}

#events .events h3 {
    color:  #31680d;
    position: relative;
    z-index: 2;
}

#events .events ul {
    list-style-type: none;
    padding-left: 0px;
    position: relative;
    z-index: 2;
}

#events .events ul #eventName {
    position: absolute;
    left: 13px;
    color: #31680d;
    font-weight: bold;
}

#events .events ul #eventDate {
    position: absolute;
    right: 13px;
}

#events .events .eventItem {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

#events .events .eventItem .eventDesc {
    padding-top: 30px;
}

/*-------------------------------------
| contact.php CSS
-------------------------------------*/
.contactParallax {
    background-image: url('../img/jpg/cmh_working2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

#contact {
    position: relative;
}

.contact {
    position: relative;
    z-index: 2;
    padding-bottom: 40px;
}

@media only screen and (min-width: 400px) {
    .contact {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .contact {
        width: 500px;
        margin: 0px auto;
    }
}

.contact form {
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.contact form label{
    color: #31680d;
    font-family: 'Coda Caption', sans-serif;
}

.contact input.button {
    background: #b000b2;
    box-shadow: 0 0 0 rgba(176, 0, 178, .6);
    animation: none;
    margin: 0px auto;;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    font-family: 'Cuprum', sans-serif;
}

.contact input.button:hover {
    animation: pulse 1s infinite;
}

/*-------------------------------------
| shop.php CSS
-------------------------------------*/
.storeParallax {
    background-image: url('../img/jpg/cmh_shirt.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

#shop {
    position: relative;
    padding-top: 6em;
    margin-bottom: 8em;
}

#shop .shop {
    position: relative;
    z-index: 1;
}

#shop .shop h3 {
    text-align: center;
    color: #31680d;
    margin-top: 0px;
    padding-top: 30px;
    font-family: 'Coda Caption', sans-serif;
}

#mixtapes .itemDiv {
    display: flex;
    padding-top: 10px;
    padding-bottom: 6em;
}

#mixtapes .itemDiv .itemSubDiv {
    flex: 1;
}

@media only screen and (min-width: 768px) {
    #mixtapes .itemDiv {
        display: flex;
    }

    #mixtapes .itemDiv .itemSubDiv {
        flex: 1;
        display: flex;
    }

    #prints .itemDiv {
        display: flex;
    }

    #prints .itemDiv .itemSubDiv {
        flex: 1;
        display: flex;
    }

    #apparel .itemDiv {
        display: flex;
    }

    #apparel .itemDiv .itemSubDiv {
        flex: 1;
        display: flex;
    }
}

#prints .itemDiv {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

#apparel .itemDiv {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

#shop .shop .itemDiv .shopItem {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

#shop .shop .itemDiv .shopItem #productName {
    color: #31680d;
    font-size: 18px;
    padding-top: 10px;
}

#shop .shop .itemDiv .shopItem #price {
    color: #31680d;
    font-size: 18px;
    font-weight: bold;
}

#shop .shop .itemDiv .shopItem img {
    width: 100%;
}

#shop .shop .itemDiv .shopItem a.button {
    padding-left: 30px;
    padding-right: 30px;
}

/*-------------------------------------
| footer CSS
-------------------------------------*/

footer {
    background-image: linear-gradient(#31680d, #31680d);
    padding-top: 20px;
    padding-bottom: 40px;
}

footer .footerDiv {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    flex: 1;
}

footer .pages a {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
    transition: .3s;
}

footer .footerDiv h4 {
    font-family: 'Coda Caption', sans-serif;
}

footer .footerDiv .sMedia a {
    color: #fff;
    transition: .3s;
}

footer .footerDiv .contactInfo a {
    color: #b000b2;
    transition: .3s;
}

footer .footerDiv a:hover {
    color: #b000b2;
}

footer .back-to-top a {
    color: #b000b2;
    padding: 10px;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    right: 15px;
    font-size: 4em;
    opacity: .7;
}

footer .back-to-top a:hover {
    opacity: 1;
    color: #b000b2;
}

footer .copyright {
    text-align: center;
    color: #fff;
}

footer .copyright p {
    margin-bottom: 0px;
    margin-top: 16px;
}

footer .sMedia a {
    font-size: 35px;
    padding-right: 10px;
    color: #fff;
    transition: .3s;
}

footer .sMedia a:hover {
    color: #b000b2;
}

footer .contactInfo {
    font-size: 16px;
}

@media only screen and (min-width: 768px) {
    footer .mainFooterDiv {
        display: flex;
    }

    footer .pages {
        text-align: right;
        margin-right: 4em;
    }

    footer .connect {
        text-align: left;
        margin-left: 4em;
    }
}